component
  height: 100vh
  display: grid
  grid-template-rows: auto 1fr auto
  gap: 0.5rem
  padding: 0.5rem
  overflow: hidden

  > main
    container-type: inline-size
    display: grid
    grid-template-columns: auto 1fr
    gap: 0.5rem
    min-height: 0
